# Database Connection Info
database:
    host: database
    port: 5432
    db: rpanbot
    user: rpanbot
    password: rpanbot

# Web Settings
web:
    config:
        DEBUG: True
        SECRET_KEY: "debug"
    callbacks:
        login: "http://127.0.0.1:5050/callback"

# Default Bot Prefixes
default_prefixes:
    - "r!"
    - "rpan!"

# Discord Channels
channels:
    logs:
        join_leave: 000000000000000000
        error: 000000000000000000
    bugs:
        reports: 000000000000000000
        approved: 000000000000000000
        denied: 000000000000000000
    developer:
        contact: 000000000000000000
        exclusions_and_spam: 000000000000000000

# RPAN Subreddit Guilds (where the report command is enabled)
rpan_guilds:
    - 725895559973699645  # RPANBot Support Guild

# Core Bot Developers (given access to developer commands)
bot_developer_ids:
    - 564751291100823552  # OneUpPotato
    - 554807126174990349  # JayRy27

# RPAN Subreddits
other_rpan_subreddits:
    list:
    abbreviations:
