<!DOCTYPE HTML>
<html>
  <head>
    <title>RPANBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
  </head>
  <body>
    {% include 'home/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'home/footer.html' %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
