<!DOCTYPE HTML>
<html>
  <head>
    <title>RPANBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta itemprop="description" content="A user-made bot helping link Reddit Public Access Network and Discord.">

    <meta property="og:title" content="RPANBot">
    <meta property="og:description" content="A user-made bot helping link Reddit Public Access Network and Discord.">
    <meta property="og:image" content="{{ url_for('static', filename='imgs/icon.png', _external=True) }}">
    <meta property="theme-color" content="#ff4500">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
  </head>
  <body>
    {% include 'home/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'home/footer.html' %}

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  </body>
</html>
