{% extends 'home/base.html' %}
{% block content %}
<div class="container pt-5">
  <div class="card bg-dark">
    <div class="card-header"><h3>RPANBot Credits</h3></div>
    <div class="card-body">
      <ul>
        <li><a href="https://reddit.com/user/JayRy27">u/JayRy27</a> <span class="text-muted"> - Core Bot Developer</span></li>
        <li><a href="https://reddit.com/user/OneUpPotato">u/OneUpPotato</a> <span class="text-muted"> - Core Bot Developer</span></li>

        <li class="mt-3"><a href="https://reddit.com/user/bsoyka">u/bsoyka</a> <span class="text-muted"> - Bot Developer</span></li>

        <li class="mt-3"><a href="https://reddit.com/user/doradiamond">u/doradiamond</a> <span class="text-muted"> - For the lovely robot Snoo :)</span></li>

        <li class="mt-3"><a href="https://github.com/RPANBot/RPANBot/">Any other future RPANBot contributors.</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
